* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../images/background/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  display: none !important;
}

#login {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-window {
  box-shadow: 0 0.01em 1em 0 rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  width: 300px;
  padding: 1em;
}

.login-header {
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.login-fields {
  margin-top: 1em;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 1em;
}

.invalid-field {
  color: red;
  padding: 0;
  margin: 0;
}

.login-button {
  margin-top: 1em;
}
